/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements__title {
    margin-top: 0;
    margin-bottom: 30px;
}

.hebergements_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hebergements_cards a{
    width: 31%;
    margin-bottom: 30px;

}


.hebergements_cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements_cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
    padding-left: 10px;
}

.hebergements_cards .card-subtitle {
    margin-top: 0;
    margin-bottom: 4px;
    padding-left: 10px;
}

.hebergements_cards .card-rating {
    margin-bottom: 7px;
    padding-left: 10px;
}

.afficherplus {
    margin: 0;
}

/****** Activités ***********/
.activites {
    padding: 30px;
    margin-bottom: 35px;

}

.activites__title {
    margin-top: 0;
    margin-bottom: 30px;

}

.activites__content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.activites__content a {
    width: 23.25%;
}

.activites__figure {
    margin: 0;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 6px  rgba(0, 0, 0, 0.1));

}



.activites__figure img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites__figure h3 {
    margin: 0;
    padding: 19px 20px 19px 20px;
    font-size: 16px;

}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.header__logo {
    padding: 30px 0;
}

.header__nav {
    display: flex;
    list-style-type: none;
    margin: 0px;
    height: 37px;
    align-items: flex-end;
}

.header__nav li {
    margin-left: 68px;
    padding-top: 16px;
    font-size: 16px;
}

.header__nav li:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
}

/****** Footer ***********/
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer__div {
    width: 100%;
    padding: 20px;
}


.footer__div h3 {
    margin: 0;
}

.footer__ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer__div li {
    padding-top: 15px;
    font-size: 16px;
}


/****** Formulaire de recherche ***********/
.recherche {
    display: flex;
    height: 49px;
}

.recherche__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--main-bg-color);
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.recherche__input{
    width: 195px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: var(--main-bg-color) solid 1px;
}

.recherche__button{
    display: flex;
    background-color: var(--main-color);
    color: white;
    padding: 0 16px 0 16px;
    font-weight: 30px;
    border-radius: 0 15px 15px 0;
    border: 0;
    align-items: center;


}

.test {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.recherche__buttonIcon{
    display: none;
    

}

/****** Formulaire de recherche ***********/
.filtres {
    display: flex;
    height: 50px;
    align-items: center;

}

.filtres__titre {
    padding-right: 15px;
    
}

.filtres__buttons {
    display: flex;
}

.filtres__button {
    display: flex;  
    height: 46px;
    padding-inline: 19px;
    border: var(--main-bg-color) solid 2px;
    border-radius: 25px;
    align-items: center;
    margin-right: 15px;          
}

.filtres__button i {
    padding-right: 10px;     
}

.filtres__button:hover {
    background-color: var(--filter-bg-color);
}

/****** Accueil ***********/
.main {
    margin-top: 30px;
}

.accueil > * {
    margin-bottom: 35px;
}

.accueil div h1 {
    margin-bottom: 8px;
}

.accueil div p {
    margin: 0px;
}

.accueil__information {
    display: flex;
    height: 24px;
}

.accueil__informationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-bg-color) solid 1px;
    border-radius: 12px;
    margin-right: 10px;
    width: 22px; 

}

.accueil__information P {
    display: flex;
    align-items: flex-end;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}